
.img-detail {    
    width: 70%;
    min-height: auto;
    margin-left: 3%;
}

.description-name-button-detail{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    height: 200px;
}

.title-item-detail{
    color:gray;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 20rem;
    
}

.title-img-detail {
    height: 500px;
}
.price-detail{
    text-align: center;
    color: rgb(99, 97, 97);
    text-transform: uppercase;
    font-weight:bold;
    font-size: 25px;
}


.flex-detail {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.h3-size {
    font-size: 30px;
    text-transform: uppercase;
}


.text-start {
    text-align: start;
}

.margin-bottom {
    margin-bottom: 20px;
}


.btn-detail {
    padding: 5px;
    width: 150px;
    height: 75px;
    margin-top: 65px;
    margin-left: 0;
    background-color: rgb(201, 236, 201);
    color: rgb(63, 63, 63);
    border-radius: 15px;
    border: 1px solid gray;
    font-weight: bold;
    text-transform: uppercase;
}


.justStyle {
    margin: 5rem;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}